*{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}
:root{
  --letter-block-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}
body{
  box-sizing: border-box;
  height: 100%;
  width: 100%w;
  background-color: steelblue;
}
header{
  height: 10vh;
  width: 100%;
  outline: 5px solid springgreen;
  background-color: crimson;
}
footer{
  height: 10vh;
  outline: 5px solid springgreen;
}
button{
  width: 5%;
  height: 5vh;
}
.container{
  margin: 0 auto;
  height: 80vh;
  width: 95vw;
}
.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 10vh;
  background-color: black;
  outline: 5px solid springgreen;
}
.flex-column{
  outline: 5px solid black;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.btn{
  height: 5vh;
  width: 5vw;
  font-weight: bolder;
  letter-spacing: 3px;
}
#start-button{
  
}
.btn:hover{
  scale: 1.05;
}

.hud-box{
height: 8vh;
justify-content: space-evenly;

}
.hud-item{
  text-align: center;
  color: aliceblue;
  width: 10%;
  font-size: 1.5rem;
  outline: 5px solid springgreen;

}
#timer{

}
#wins{

}
#losses{

}
.game-box{
  background-color: aqua;
  height: 40vh;
  flex-direction: column;
  justify-content: space-evenly;

}
.game-items{
display: flex;
}
#letter-blocks{
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  outline:2px solid black;
  box-shadow: var(--letter-block-shadow);
  /* width: 1.1rem; */
  /* height: 1.1rem; */
  color: #000;

}
#letter-blocks button{
  height: 5rem;
  width: 5rem;
}
#letter-used{
  width: 50%;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
#letter-used button{
  height: 3rem;
  width: 3rem;
} 

